@import '../../../styles.scss';

body {
    margin: 0;
}
#main {
    display: flex;
    min-height: calc(100vh - 300px - 20px - 200px);
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.table-items {
    border: 1px solid #ffc107;
    margin-right: 2px;
    margin-left: 2px;

}

.price-tag {
    display: flex;
    justify-content: flex-end;
    color: #ffc107;
    
}
