<header>
    <app-navbar></app-navbar>
</header>
<div id="main">
    <article>
        <div class="register-form-wrapper sign-in">
            <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="heading-column create-new-account">
                    <div class="module-heading">
                        <h4 class="checkout-subtitle">Registrujte novi nalog</h4>
                        <p class="text">Unesite podatke i kreirajte Vaš nalog.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        <div class="title-solid">
                            <h3>
                                Profil
                            </h3>
                        </div>
                    </div>
                    <div class="heading-column">
                        <div class="module-heading">
                            <label for="username">Korisničko ime</label>
                            <input class="form-control" type="text" formControlName="username"
                                placeholder="Unesite korisničko ime..." name="username">
                        </div>
                        <div class="module-heading">
                            <label for="email">E-mail</label>
                            <input class="form-control" type="text" formControlName="email"
                                placeholder="Unesite E-mail..." name="email">
                        </div>
                    </div>
                    <div class="password-heading">
                        <label for="password">Lozinka</label>
                    </div>
                    <div class="password-column">
                        <div class="password-input">
                            <input class="form-control" type="password" formControlName="password"
                                placeholder="Unesite lozinku..." name="password">
                        </div>
                        <div class="repeat-password-input">
                            <input class="form-control" type="password" formControlName="confirmPassword"
                            placeholder="Potvrdite lozinku..." name="confirmPassword">
                        </div>
                    </div>
                </div>
                <div class="heading-column">
                    <button class="btn btn-custom" type="submit">
                        Registracija
                    </button>
                </div>
            </form>
        </div>
    </article>
</div>
<footer>
    <app-footer></app-footer>
</footer>