@import '../../../styles.scss';

body {
    margin: 0;
}
#main {
    display: flex;
    min-height: calc(100vh - 300px - 200px);
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-wrapper {
    display: flex;
    flex: 3;
    justify-content: center;
}

.heading-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.module-heading {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #898989;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.btn-custom {
    border: 1px solid #ffc107;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0px;
    color: #333;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    outline: none;
    padding: 4px 36px 2px;
    
}

.sign-in {
    background-color: #fff;
    border: 1px #e5e5e5 solid;
    border-bottom: 2px #e5e5e5 solid;
    padding: 20px;
    overflow: hidden;
}

.customer-login {
    h4 {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 14px;
        border-bottom: 1px solid #ddd;
    }
    p {
        font-size: 15px;
        color: #666;
    }
}

.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 40vw;
    @media(max-width: $media-sm) {
        width: 90vw !important;
    }
}