<header>
    <app-navbar></app-navbar>
</header>
<div id="main">
    <article>
        <div class="login-wrapper sign-in">
            <div class="heading-column customer-login move-left">
                <div class="module-heading">
                    <h4 class="checkout-subtitle">Prijava</h4>
                    <p class="text">Dobrodošli, prijavite se na Vaš nalog.</p>
                </div>
                <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="heading-column box">
                        <div class="module-heading">
                            <label for="email">E-mail</label>
                            <input class="form-control" type="text" formControlName="email"
                                placeholder="Unesite Vaš e-mail..." name="email">
                        </div>
                        <div class="module-heading">
                            <label for="password">Lozinka</label>
                            <input class="form-control" type="password" formControlName="password"
                                placeholder="Unesite Vašu lozinku..." name="email">
                        </div>
                        <div class="heading-column">
                            <div class="module-heading">
                                <button class="btn btn-custom" type="submit">
                                    Prijava
                                </button>
                                <a href="/authentication/register" class="btn btn-custom pull-right">
                                    Registrujte novi nalog
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>
<footer>
    <app-footer></app-footer>
</footer>