<header>
    <app-navbar></app-navbar>
</header>
<div id="main">
    <div class="container">
        <div class="row-wrapper">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="...">
                                    <img src="assets/images/main1.jpg" alt="...">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="">
                                    <img src="assets/images/main2.jpg" alt="...">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="">
                                    <img src="assets/images/main3.jpg" alt="...">
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="...">
                        <div class="picture-padding">
                            <img src="assets/images/rightimage1.jpg" alt="...">
                        </div>
                    </a>
                    <a href="...">
                        <img src="assets/images/rightimage2.jpg" alt="...">
                    </a>
                </div>
            </div>
        </div>
        <div class="promotion">
            <h3>Promocije i akcije</h3>
            <div class="row-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <a href="...">
                            <img src="assets/images/middle1.jpg" alt="...">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="...">
                            <img src="assets/images/middle2.jpg" alt="...">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="...">
                            <img src="assets/images/middle3.jpg" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="best-to-offer">
            <h3>Najbolje u ponudi</h3>

            <div class="row-wrapper">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                            <img src="assets/images/bottom1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Asus ZenBook UM431DA-AM010T Win10 14",AMD QC R5-3500U/8GB/256
                                    SSD/Vega 8</p>
                                <div class="move-down">
                                    <p class="old-price">99.989 RSD</p>
                                    <p class="price">89.990 RSD</p>
                                    <p class="stock">Trenutno na stanju: 3</p>
                                    <a href="#" class="btn btn-outline-warning">Detaljnije</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                            <img src="assets/images/bottom2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Konzola Playstation 4 1TB Pro, Gamma Chassis Crna</p>
                                <div class="move-down">
                                    <p class="old-price">61.110 RSD</p>
                                    <p class="price">54.999 RSD</p>
                                    <p class="stock">Trenutno na stanju: 5</p>
                                    <a href="#" class="btn btn-outline-warning">Detaljnije</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                            <img src="assets/images/bottom3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Smart Apple iPhone SE2 64 GB mx9t2se/a Beli</p>
                                <div class="move-down">
                                    <p class="old-price">72.767 RSD</p>
                                    <p class="price">65.490 RSD</p>
                                    <p class="stock">Trenutno na stanju: 5</p>
                                    <a href="#" class="btn btn-outline-warning">Detaljnije</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                            <img src="assets/images/bottom4.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Kućište Antec Dark Avenger Window RGB, DA601</p>
                                <div class="move-down">
                                    <p class="old-price">13.322 RSD</p>
                                    <p class="price">11.990 RSD</p>
                                    <p class="stock">Trenutno na stanju: 20</p>
                                    <a href="#" class="btn btn-outline-warning">Detaljnije</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                            <img src="assets/images/bottom5.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Digitalni foto-aparat Canon EOS 2000D DC III Set (Sa 18-55mm), Crna
                                </p>
                                <div class="move-down">
                                    <p class="old-price">45.667 RSD</p>
                                    <p class="price">41.100 RSD</p>
                                    <p class="stock">Trenutno na stanju: 3</p>
                                    <a href="#" class="btn btn-outline-warning">Detaljnije</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                            <img src="assets/images/bottom6.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Bežični zvučnik 1.0 Xwave B Square bluetooth 5W crna</p>
                                <div class="move-down">
                                    <p class="old-price">3.322 RSD</p>
                                    <p class="price">2.990 RSD</p>
                                    <p class="stock">Trenutno na stanju: 10</p>
                                    <a href="#" class="btn btn-outline-warning">Detaljnije</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <app-footer></app-footer>
</footer>