<header>
    <app-navbar></app-navbar>
</header>
<div id="main">
    <div class="container">
        <div class="row-wrapper">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="/home/product/8">
                                    <img src="assets/images/main1.jpg" alt="...">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/home/product/9">
                                    <img src="assets/images/main2.jpg" alt="...">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="/home/product/10">
                                    <img src="assets/images/main3.jpg" alt="...">
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="/home/product/11">
                        <div class="picture-padding">
                            <img src="assets/images/rightimage1.jpg" alt="...">
                        </div>
                    </a>
                    <a href="/home/product/12">
                        <img src="assets/images/rightimage2.jpg" alt="...">
                    </a>
                </div>
            </div>
        </div>
        <div class="promotion">
            <h3>Promocije i akcije</h3>
            <div class="row-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <a href="/home/product/13">
                            <img src="assets/images/middle1.jpg" alt="...">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="/home/product/14">
                            <img src="assets/images/middle2.jpg" alt="...">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="/home/product/15">
                            <img src="assets/images/middle3.jpg" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="best-to-offer">
            <h3>Najbolje u ponudi</h3>

            <div class="row-wrapper">
                <div *ngIf="products" class="row">
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div *ngIf="getProductById(16); let product"  class="card">
                            <img *ngIf="product.photo" src="{{ baseUrl }}{{ product.photo.content.url }}"
                            alt="..." class="photo-grid">
                            <img *ngIf="!product.photo" src="http://placehold.it/128x128" alt="...">   
                            <div class="card-body">
                                <p class="card-text">{{ product.description }}</p>
                                <div class="move-down">
                                    <p class="old-price">99.989 RSD</p>
                                    <p class="price">{{ product.price }} RSD</p>
                                    <p class="stock">Trenutno na stanju: {{ product.stock }}</p>
                                    <a href="#" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal" (click)="setModalProduct(product)">Kupi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div *ngIf="getProductById(17); let product" class="card">
                            <img *ngIf="product.photo" src="{{ baseUrl }}{{ product.photo.content.url }}"
                            alt="..." class="photo-grid">
                            <img *ngIf="!product.photo" src="http://placehold.it/128x128" alt="...">   
                            <div class="card-body">
                                <p class="card-text">{{ product.description }}</p>
                                <div class="move-down">
                                    <p class="old-price">61.110 RSD</p>
                                    <p class="price">{{ product.price }} RSD</p>
                                    <p class="stock">Trenutno na stanju: {{ product.stock }}</p>
                                    <a href="#" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal" (click)="setModalProduct(product)">Kupi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div *ngIf="getProductById(18); let product" class="card">
                            <img *ngIf="product.photo" src="{{ baseUrl }}{{ product.photo.content.url }}"
                            alt="..." class="photo-grid">
                            <img *ngIf="!product.photo" src="http://placehold.it/128x128" alt="...">   
                            <div class="card-body">
                                <p class="card-text">{{ product.description }}</p>
                                <div class="move-down">
                                    <p class="old-price">72.767 RSD</p>
                                    <p class="price">{{ product.price }} RSD</p>
                                    <p class="stock">Trenutno na stanju: {{ product.stock }}</p>
                                    <a href="#" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal" (click)="setModalProduct(product)">Kupi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div *ngIf="getProductById(19); let product" class="card">
                            <img *ngIf="product.photo" src="{{ baseUrl }}{{ product.photo.content.url }}"
                            alt="..." class="photo-grid">
                            <img *ngIf="!product.photo" src="http://placehold.it/128x128" alt="...">   
                            <div class="card-body">
                                <p class="card-text">{{ product.description }}</p>
                                <div class="move-down">
                                    <p class="old-price">13.322 RSD</p>
                                    <p class="price">{{ product.price }} RSD</p>
                                    <p class="stock">Trenutno na stanju: {{ product.stock }}</p>
                                    <a href="#" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal" (click)="setModalProduct(product)">Kupi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div *ngIf="getProductById(20); let product" class="card">
                            <img *ngIf="product.photo" src="{{ baseUrl }}{{ product.photo.content.url }}"
                            alt="..." class="photo-grid">
                            <img *ngIf="!product.photo" src="http://placehold.it/128x128" alt="...">   
                            <div class="card-body">
                                <p class="card-text">{{ product.description }}
                                </p>
                                <div class="move-down">
                                    <p class="old-price">45.667 RSD</p>
                                    <p class="price">{{ product.price }} RSD</p>
                                    <p class="stock">Trenutno na stanju: {{ product.stock }}</p>
                                    <a href="#" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal" (click)="setModalProduct(product)">Kupi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <div *ngIf="getProductById(21); let product" class="card">
                            <img *ngIf="product.photo" src="{{ baseUrl }}{{ product.photo.content.url }}"
                            alt="..." class="photo-grid">
                            <img *ngIf="!product.photo" src="http://placehold.it/128x128" alt="...">   
                            <div class="card-body">
                                <p class="card-text">{{ product.description }}</p>
                                <div class="move-down">
                                    <p class="old-price">3.322 RSD</p>
                                    <p class="price">{{ product.price }} RSD</p>
                                    <p class="stock">Trenutno na stanju: {{ product.stock }}</p>
                                    <a href="#" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal" (click)="setModalProduct(product)">Kupi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <app-footer></app-footer>
</footer>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="modalProduct">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Kupovina proizvoda</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <img *ngIf="modalProduct.photo" src="{{ baseUrl }}{{ modalProduct.photo.content.url }}"
                alt="..." class="modal-photo">
                <img *ngIf="!modalProduct.photo" src="http://placehold.it/128x128" alt="..." class="modal-photo">   
                <div class="card-body">
                    <p class="card-text">{{ modalProduct.description }}</p>
                    <div class="move-down">
                        <p class="price">Stanje na računu: {{getMoney()}} RSD</p>
                        <p class="price">Cena: {{ modalProduct.price }} RSD</p>
                        <p class="stock">Trenutno na stanju: {{ modalProduct.stock }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" id="closeModal"  data-dismiss="modal">Zatvori</button>
          <button type="button" class="btn btn-outline-warning" (click)="sellProduct()">Kupi</button>
        </div>
      </div>
    </div>
  </div>