@import '../../../styles.scss';

body {
    margin: 0;
}
#main {
    display: flex;
    min-height: calc(100vh - 300px - 20px - 200px);
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.row-wrapper { 
    margin-top: 20px;
    overflow: hidden;
}

.picture-padding { 
    padding-bottom: 20px;
}

.card {
    min-height: 100%;
    padding: 15px;
    .card-body {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
    }
    .card-text {
        font-size: 13px;
        text-align: left;
        margin-bottom: 30px;
    }
}

.old-price {
    margin: 0;
    text-align: right;
    text-decoration: line-through;
    font-size: 13px;
}

.price {
    margin: 0;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    color: #ffc107; 
}

.stock {
    text-align: right;
    font-size: 13px;
}

.btn {
    float: right;
}

.move-down {
    margin-top: auto;
}

h3 {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    border-top: 1px solid #c2c2c2;
}

