<header>
    <app-navbar></app-navbar>
</header>
<div id="main">
    <article>
        <div class="about-wrapper customer-login sign-in">
            <div class="about-info">
                <div class="about-column">
                    <h3 class="subtitle">O nama</h3>
                    <p>Preduzeće <strong> ...(www...com)</strong>se od svog osnivanja 2020. godine bavi servisiranjem i prodajom računara i računarske opreme. Sastoji se od dve poslovne jedinice, maloprodaje i servisa. Maloprodajni objekat se nalazi u Gornjem Milanovcu, Kneza Aleksandra 38 gde Vam je u veoma ugodnom ambijentu na raspolaganju naše ljubazno osoblje koje će u svakom trenutku pokušati da Vam da savet, preporuku ili reši neki problem.</p>
                    <p>Radno vreme maloprodaje je od <strong>09:00h - 19:00h</strong> svakim radnim danom, a subotom od <strong>10:00h - 15:00h.</strong></p>
                    <p>Na lageru se konstatno nalazi veliki broj računarskih delova i periferija koji će nadamo se zadovoljiti vaše afinitete. Neki od brendova sa kojima radimo su: <strong> AMD, A4TECH, ACER, ASROCK, ASUS, BENQ, CANYON, CANON, CHIEFTEC, COOLER MASTER, DELL, GIGABYTE, HITACHI, HP, INTEL, KINGSTON, LC POWER, LEADTEK, LG, LOGITECH, MSI, NIKON, PRESTIGIO, SAMSUNG, SAPPHIRE, SEAGATE, TP-LINK, WESTERN DIGITAL</strong> i još mnogi drugi.</p>
                    <p>Prodaja računarske opreme danas postavlja najviše standarde i kao takva zahteva stalno obnavljanje znanja o računarima i računarskim sistemima. U skladu sa tim ... ulaže u obrazovanje zaposlenih kao i njihovo poznavanje računara, trenodva i celokupnog IT sektora Time dobijamo najviši nivo kvaliteta usluga koji nas izdvaja od konkurencije.</p>
                    <h5>Hvala Vam,</h5>
                    <h5>Vaš ...</h5>
                </div>
            </div>
        </div>
        </article>
</div>
<footer>
    <app-footer></app-footer>
</footer>