<header>
    <app-navbar></app-navbar>
</header>
<div id="main">
    <article>
        <div class="product-wrapper customer-login sign-in">
            <div class="product-info">
                <div *ngIf="product" class="product-column">
                    <img *ngIf="product.photo" src="{{ baseUrl }}{{ product.photo.content.url }}"
                        alt="...">
                    <img *ngIf="!product.photo" src="http://placehold.it/170x170" alt="...">
                    <h5 class="card-title"> {{ product.name }}</h5>
                    <p class="card-text"> {{ product.description }} </p>
                    <p class="card-price"> Cena: {{ product.price }} </p>
                    <p class="card-stock"> Trenutno na stanju: {{ product.stock }} </p>
                </div>
            </div>
        </div>
    </article>
</div>
<footer>
    <app-footer></app-footer>
</footer>