@import '../../../styles.scss';

body {
    margin: 0;
}
#main {
    display: flex;
    min-height: calc(100vh - 300px - 20px - 200px);
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.product-wrapper { 
    display: flex;
    flex: 3;
    justify-content: center;   
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in {
    background-color: #fff;
    border: 1px #e5e5e5 solid;
    border-bottom: 2px #e5e5e5 solid;
    padding: 20px;
    overflow: hidden;
    @media (max-width: $media-xl) {
        width: 80vw;
    }
}

.product-column {
    @media(max-width: $media-sm){
        display: flex;
        flex-direction: column;
    }
}

.customer-login {
    h3 {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 14px;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }
    p {
        font-size: 14px;
        color: #666;
    }

    .card-price {
        margin: 0;
        text-align: right;
        font-weight: bold;
        font-size: 20px;
        color: #ffc107; 
    }
    
    .card-stock {
        text-align: right;
        font-size: 13px;
    }

    .card-text {
        font-size: 13px;
        text-align: left;
        margin-bottom: 30px;
    }

    .card-title {
        font-size: 18px;
    }
}